body, html {
    height: 100%;
}

body {
    display: flex;
    margin: 0px;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}


.content {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.sizer {
    display: flex;
    padding: 15px 15px;
    flex: 0 1 1500px;
    flex-wrap: wrap;
    gap: 50px;
}



.header {
    display: flex;
    justify-content: center;

    background-color: #1F2937;

        .links {
            color: white;
            margin-top: 10px;
            margin-left: auto;
        
            display: flex;
            gap: 30px;
        }
        
        .logo {
            height: 30px;
            width: auto;
        }

}

.content1 {
    display: flex;
    flex-basis: 300px;
    justify-content: center;

    background-color: #1F2937;
    padding: 50px 0px;

    .textbox {

        display: flex;
        flex-direction: column;
        flex: 0 1 500px;

        font-family: "roboto", sans-serif;
        color: white;
        margin-right: auto;
        

        .header {
            font-size: 48px;
            font-weight: bolder;
            color: #F9FAF8;
            padding: 0;
        }

        .button {
            border-radius: 5px;
            border: none;
            background-color: #3882f6;

            font-size: 20px;
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 6px 20px 6px 20px;
        }

    }

    .image {
        margin: 0px;
        padding: 0;
    }

}

.content2 {
    display: flex;
    flex-basis: 300px;
    justify-content: center;
}

.content3 {
    display: flex;
    flex-basis: 300px;
    justify-content: center;

    background-color: #E5E7EB;
}


.content4 {
    display: flex;
    flex-basis: 300px;
    justify-content: center;

    .button {
        border-radius: 5px;
        border: none;
        background-color: #3882f6;

        font-size: 10px;
        color: white;
        font-weight: bold;
        text-align: center;
        padding: 5px 13px 5px 13px;
    }
}


.footer {
    display: flex;
    justify-content: center;

    background-color: #1F2937;
}